<h1>Welcome to the Employee Reimbursement Portal</h1>

<% if user_signed_in? && current_user.employee? %>
  <%= link_to 'Submit a Reimbursement Form', new_bill_path, class: 'btn btn-primary' %>
<% end %>
